.video-page-label {
  margin-bottom: 5%;
}

.video-page-input {
  display: flex;
  justify-content: center;
  margin: 15px auto;
  color: white;
  border: 2px solid #af0000;
  border-radius: 6px;
  width: 60px;
  height: 30px;
  align-items: center;
}

.video-page-input:hover {
  box-shadow: 0 0 20px #ca1a1a;
  transition: all 0.1s ease-out;
}
