p {
  margin: 10% 10% 5%;
}

.welcome p {
  background-color: #af0000;
  color: white;
  padding: 5%;
  text-align: left;
  border-radius: 20px;
}
.welcome span {
  background-color: #af0000;
  color: white;
}

#title {
  text-align: center;
}

.button1 {
  color: white;
  border: 2px solid #af0000;
  width: 150px;
  margin: 1%;
  margin-top: 3%;
  border-radius: 6px;
}

a:link {
  text-decoration: none;
}

.button1:hover {
  box-shadow: 0 0 20px #af0000;
}

.button1 a:visited {
  color: white;
}

.landing-page-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media screen and (min-width: 500px) and (max-width: 1980px) {
  p {
    margin: 5% 8%;
  }

  .button1 {
    margin-top: 0;
  }
}
