ul {
  margin: 5% 10% 5% 10%;
  padding-left: 0px;
  list-style-type: none;
}

.VideoList {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 800px) and (max-width: 1980px) {
  .VideoList__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .Video {
    margin: 5% 5%;
    max-width: 290px;
  }

  ul {
    margin: 1% 5%;
  }
}
