.fav-item {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(175, 0, 0, 0.5);
  box-shadow: 0 0 20px #af0000;
  margin: 10% 10%;
}

.Fav-page-tags {
  margin: 5%;
}

.text-flex {
  display: flex;
  margin: 5% 5% auto;
  flex-direction: column;
  color: white;
}

.fav-page-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-flex a:visited {
  color: white;
}

.fav-item:hover {
  box-shadow: 0 0 30px #ca1a1a;
  transition: all 0.1s ease-out;
}
