.Video_link {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.responsive-iframe {
  position: absolute;
  top: 1%;
  left: 1%;
  bottom: 1%;
  right: 1%;
  width: 100%;
  height: 100%;
}

.Video_title {
  text-align: center;
}

.Video {
  border: 1px solid rgba(175, 0, 0, 0.5);
  box-shadow: 0 0 20px #af0000;
  margin-top: 10%;
}

.Video_img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-page-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Video:hover {
  box-shadow: 0 0 30px #ca1a1a;
  transition: all 0.1s ease-out;
}
